<section class="featured-footer">
    <div class="featured-footer-container-one">
        <div class="featured-footer-container-one-logoContainer">
            {% assign isotipo = settings.footer.settings.logo_name %}
            <img src="/assets/SVG/{{isotipo}}" alt="" class="featured-footer-container-one-logo" width="auto" height="auto">
            <div class="featured-footer-container-one-divisor-and-text">
                <div class="featured-footer-container-one-divisor"></div>
                {% assign logo_text = settings.footer.settings.logo_text %}
                <h1 class="featured-footer-container-one-text-logo">{{logo_text}}</h1>
            </div>
        </div>
        <p class="featured-footer-container-one-paragraph">
            © 2024, Shuffle.store Operated by Studio Plaid. Need help?
            Email support@shuffie.store
        </p>
    </div>
    <div class="featured-footer-container-two">
        {% assign links = settings.footer.settings.links %}
        <div class="featured-footer-container-two-primary-links">
            {% for link in links %}
                {% if link.type == 'principal' %}
                    <a href="{{link.url}}" class="featured-footer-container-two-primary-link {% if link.url == currentPath %}inPage{% endif %}">{{link.label | upcase}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="featured-footer-container-two-secundary-links">
            {% for link in links %}
                {% if link.type == 'secundary' %}
                    <a href="{{link.url}}" class="featured-footer-container-two-secundary-link">{{link.label | upcase}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="featured-footer-container-two-crypto-links">
            <p class="featured-footer-container-two-crypto-links-paragraph">
                We accept all major cards, Paypal & crypto
            </p>
            <div class="featured-footer-container-two-crypto-links-logos">
                {% for store in stores %}
                    <a href="{{store.coinPage}}" target="_blank" class="featured-footer-container-two-crypto-link">
                        <img src="{{ store.image }}" height="auto" width="auto" alt="Logo" class="featured-footer-container-two-crypto-logo">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="featured-footer-container-three">
        <div class="featured-footer-container-three-container">
            <p class="featured-footer-container-three-container-paragraph">Suscribe and receive drop notifications</p>
            <div class="featured-footer-container-three-input-container">
                <input maxlength="300" placeholder="Enter Email" type="text" name="" id="" class="featured-footer-container-three-input">
                <button class="featured-footer-container-three-button">
                    {% assign arrow_icon = settings.footer.settings.arrow_icon %}
                    <img src="/assets/SVG/{{ arrow_icon }}" height="16px" width="auto" alt="Logo" class="featured-footer-container-three-button-icon">
                </button> 
            </div>
        </div>
        <div class="featured-footer-container-three-rrss">
            <div class="featured-footer-container-three-rrss-links">
                {% for link in links %}
                    {% if link.type == 'rrss' %}
                        <a href="{{link.url}}" class="featured-footer-container-three-rrss-link">{{link.label | upcase}}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="featured-footer-container-one-v2">
                <div class="featured-footer-container-one-logoContainer">
                    {% assign isotipo = settings.footer.settings.logo_name %}
                    <img src="/assets/SVG/{{isotipo}}" alt="" class="featured-footer-container-one-logo" width="auto" height="auto">
                    <div class="featured-footer-container-one-divisor-and-text">
                        <div class="featured-footer-container-one-divisor"></div>
                        {% assign logo_text = settings.footer.settings.logo_text %}
                        <h1 class="featured-footer-container-one-text-logo">{{logo_text}}</h1>
                    </div>
                </div>
            </div>
        </div>
                <p class="featured-footer-container-one-paragraph">
                    © 2024, Shuffle.store Operated by Studio Plaid. Need help?
                    Email support@shuffie.store
                </p>
    </div>
</section>